@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xfi9yg');
  src:  url('fonts/icomoon.eot?xfi9yg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xfi9yg') format('truetype'),
    url('fonts/icomoon.woff?xfi9yg') format('woff'),
    url('fonts/icomoon.svg?xfi9yg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e900";
}
.icon-buildings:before {
  content: "\e900";
}
.icon-work:before {
  content: "\e900";
}
.icon-map:before {
  content: "\e901";
}
.icon-airplane:before {
  content: "\e902";
}
.icon-travel:before {
  content: "\e902";
}
.icon-flight:before {
  content: "\e902";
}
.icon-plane:before {
  content: "\e902";
}
.icon-transport:before {
  content: "\e902";
}
.icon-fly:before {
  content: "\e902";
}
.icon-vacation:before {
  content: "\e902";
}
